{% render 'partials/head.liquid', title: 'Squad page' %}

<main>
  <h1>Squad tijdlijn</h1>

  <button>Filters</button>
  <ul class="filteren">
    <li class="btn-filter"><a href="#">Voorbeeld A</a></li>
    <li class="btn-filter"><a href="#">Voorbeeld B</a></li>
    <li class="btn-filter"><a href="#">Voorbeeld C</a></li>
    <li class="btn-filter"><a href="#">Voorbeeld D</a></li>
  </ul>
  <section></section>
  <ol class="timeline" style="--total-months:{{  totalMonths  }}">
    {% for person in persons %}
      <li style="--favo-color:{{ person.fav_color }}; --person-left:{{ person.left }}; --stack-index:{{  person.stack_index }}; ">
        <img
          class="person-img"
          loading="lazy"
          {% if person.mugshot %}
            src="{{'https://fdnd.directus.app/assets/' | append:  person.mugshot | append:'?width=500' }}"
          {% else %}
            src="{{ person.avatar }}"
          {% endif %}
          alt=" {{ person.name }}"
        >

        {{ person.name }}
        {{ person.birthdate }}
        {{ person.stack_index }}
        {% comment %} {{ person.maand_index }} {% endcomment %}
      </li>
    {% endfor %}
  </ol>

  <h2>Huidige berichten</h2>

  {% for message in messages %}
    <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
  {% else %}
    <p>Er zijn nog geen berichten voor dit team.</p>
  {% endfor %}

  <h2>Voeg een bericht toe</h2>
  <form method="post" action="/">
    <label>
      Naam:
      <input type="text" name="from" required>
    </label>
    <label>
      Bericht:
      <textarea name="text" required></textarea>
    </label>
    <button type="submit">Verstuur</button>
  </form>
</main>

{% render 'partials/foot.liquid', squads: squads %}
