{% render 'partials/head.liquid', title: 'Squad page' %}

<main>
  <h1>Squad tijdlijn</h1>

  <button>Filters</button>
  <ul class="filteren">
    <li class="btn-filter"><a href="#">Voorbeeld A</a></li>
    <li class="btn-filter"><a href="#">Voorbeeld B</a></li>
    <li class="btn-filter"><a href="#">Voorbeeld C</a></li>
    <li class="btn-filter"><a href="#">Voorbeeld D</a></li>
  </ul>
  <section class="timeline" style="--total-months:{{  totalMonths  }}">
    <ol class="people-line">
      {% for person in persons %}
        <li
          class="person-list-item"
          style="
            --favo-color:{{ person.fav_color }};
            --month-index:{{ person.maand_index }};
            --stack-index:{{  person.stack_index }};
          "
        >
          <a href="/person/{{ person.id }}">
            <img
              class="person-img"
              loading="lazy"
              {% if person.mugshot %}
                src="{{'https://fdnd.directus.app/assets/' | append:  person.mugshot | append:'?width=500' }}"
              {% else %}
                src="{{ person.avatar }}"
              {% endif %}
              alt=" {{ person.name }}"
            >
            {{ person.name }}
          </a>
          <p>
            {{ person.birthdate | date: '%d' }}
          </p>
        </li>
      {% endfor %}
    </ol>
    <ol class="date-line">
      {% for month in months %}
        <li class="date-list-item" style="--month-index:{{ month.month_index }};">
          <p>
            {{ month.month_name }}
          </p>
        </li>
      {% endfor %}
    </ol>
    <ol class="date-line years">
      {% for year in years %}
        <li style="--year-index:{{ year.year_index }}" class="date-list-item item-year">
          <p>
            {{ year.year }}
          </p>
        </li>
      {% endfor %}
    </ol>
  </section>

  {% comment %}
    {% for month in months %}
     <p>

     {{ date: month.month }}
       {{ month.month }}
       {{ month.year }}
     </p>
    {% endfor %}
  {% endcomment %}
  <h2>Huidige berichten</h2>

  {% for message in messages %}
    <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
  {% else %}
    <p>Er zijn nog geen berichten voor dit team.</p>
  {% endfor %}

  <h2>Voeg een bericht toe</h2>
  <form method="post" action="/">
    <label>
      Naam:
      <input type="text" name="from" required>
    </label>
    <label>
      Bericht:
      <textarea name="text" required></textarea>
    </label>
    <button type="submit">Verstuur</button>
  </form>
</main>

{% render 'partials/foot.liquid', squads: squads %}
